@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
<div class="page registration-result-page">
    <div class="page-title">
        <h1>@T("Account.VendorRegisterResult")</h1>
    </div>
    <div class="page-body">
        <div class="result card border-0 rounded-0 shadow">
            <div class="card-body">
                @T("Account.VendorRegisterResultContent")
            </div>
        </div>
    </div>
</div>