@model FeaturedProductSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Promotions.FeaturedProducts").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("FeaturedProducts");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Promotions.FeaturedProducts")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.SpecificationAttributeListButtons })
    </div>
</div>

<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    List of Featured Products
                </p>
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "featured-products-grid",
                    UrlRead = new DataUrl("List", "FeaturedProduct", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(FeaturedProductModel.ProductName))
                        {
                            Title = T("Admin.Promotions.FeaturedProducts.Fields.Product").Text
                        },
                        new ColumnProperty(nameof(FeaturedProductModel.PlacementId))
                        {
                            Title = T("Admin.Promotions.FeaturedProducts.Fields.Placement").Text
                        },
                        new ColumnProperty(nameof(FeaturedProductModel.Priority))
                        {
                            Title = T("Admin.Promotions.FeaturedProducts.Fields.Priority").Text
                        },
                        new ColumnProperty(nameof(FeaturedProductModel.StartDateUtc))
                        {
                            Title = T("Admin.Promotions.FeaturedProducts.Fields.StartDate").Text,
                            Width = "260"
                        },
                        new ColumnProperty(nameof(FeaturedProductModel.EndDateUtc))
                        {
                            Title = T("Admin.Promotions.FeaturedProducts.Fields.EndDate").Text,
                            Render = new RenderDate()
                        },
                        new ColumnProperty(nameof(FeaturedProductModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "100",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("Edit"))
                        }
                    }
                })
            </div>
            <script>
                function renderStatusBadge(data) {
                    const className = data ? 'label-success' : 'label-default';
                    const text = data ? 'Active' : 'Inactive';
                    return `<span class="label ${className}">${text}</span>`;
                }
            </script>
        </div>
    </div>
</div>