select:focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

a:hover,
a:focus,
a:active {
    text-decoration: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.bg-theme-dark {
  background: #122343 !important;
}
.text-theme-dark {
  color: #122343 !important;
}
.text-muted-x2 {
  color: #aeaeae !important;
}

.btn-outline-muted {
  color: #6c757d !important;
  border-color: #ccc !important;
}
  .btn-outline-muted:hover,
  .btn-outline-muted:focus,
  .btn-outline-muted:active {
    background: #ccc !important;
    color: #fff !important;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 11;
  }

@media all and (min-width: 992px) {
  header {
    top: -122px;
  }
}

.language-selector select,
.currency-selector select {
  padding: 0 10px 0 0;
  background: transparent;
  border: none;
  color: #ababab;
  height: 30px;
  min-width: 0;
  font-size: 13px;
  margin-right: 10px;
}
  .language-selector select:before,
  .currency-selector select:before {
    content: "\f078";
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 7px;
    color: #ababab;
    pointer-events: none;
  }

.header-links .nav-link {
  color: #8c8c8c;
}

.header-links .nav-link i {
  font-size: 24px;
}

.header-links .nav-link span {
    font-size: 12px;
}

.header-search-box select {
    width: 100px;
}
.header-logo img {
    max-width: 65px !important;
}

.trigger-all-categories {
  background: #fff !important;
  padding-left: 20px !important;
  padding-right: 90px !important;
}
.navbar-brand-condt img {
    width: 40px;
}
.navbar-brand-condt,
.nav-link-condt {
  display: block;
}

@media all and (min-width: 992px) {
  .navbar-brand-condt,
  .nav-link-condt {
    display: none;
  }
}


.theme-custom {
  margin: 0 !important;
  max-width: 100% !important;
}
#nivo-slider {
  margin-top: 0;
}



.info-box-card i {
  font-size: 38px;
  color: #aaa;
  transition: all .5s ease-in-out;
}
.info-box-card:hover i {
  color: #122343;
}

.info-box-card h4 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 12px;
}
.info-box-card p {
  font-size: 14px;
  line-height: 16px;
  color: #aaa;
}


/**
    Products Grid (common)
*/
.product-grid.container-fluid {
  max-width: 1500px;
}
.item-grid {
  position: relative;
  height: auto;
  display: inline-block;
}

.item-box {
  width: 100%;
  float: left;
}

@media all and (min-width: 420px) and (max-width: 540px) {
  .item-box {
    width: 49.5%;
    margin: 0 1% .8% 0;
  }
  .item-box:nth-child(2n+0) {
    margin-right: 0
  }
}

@media all and (min-width: 540px) and (max-width: 768px) {
  .item-box {
    width: 32.6%;
    margin: 0 1% .8% 0;
  }

    .item-box:nth-child(3n+0) {
      margin-right: 0
    }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .item-box {
    width: 24.2%;
    margin: 0 1% .8% 0;
  }

    .item-box:nth-child(4n+0) {
      margin-right: 0
    }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .item-box {
    width: 19.2%;
    margin: 0 1% .8% 0;
  }

    .item-box:nth-child(5n+0) {
      margin-right: 0
    }
}

@media all and (min-width: 1200px) {
  .item-box {
    width: 15.9%;
    margin: 0 .9% .8% 0;
  }

    .item-box:nth-child(6n+0) {
      margin-right: 0
    }
}

.product-item.card .product-title {
  font-size: 16px;
  height: 22px;
  overflow: hidden;
  margin-bottom: 0;
}


/**
    HomePage Categories Section
*/
.hpc-card {}
  .hpc-card .hpc-header {
    width: 20%;
    float: left;
  }
  .hpc-card .hpc-body {
    width: 80%;
    float: left;
  }
  .hpc-card .hpc-details {
    width: 40%;
    float: left;
  }
  .hpc-card .hpc-products {
    width: 60%;
    float: left;
  }

    .hpc-card .hpc-products .nav-item {
      color: #aeaeae;
    }
      .hpc-card .hpc-products .nav-item.active {
        color: #122343;
        background: transparent;
      }

.product-item-mini .pim-thumb {
  width: 35%;
  float: left;
  height: 114px;
}
.product-item-mini .pim-descn {
  width: 65%;
  float: left;
}
  .product-item-mini .pim-descn p {
    height: 38px;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 18px;
  }

  .home-page-product-grid .product-rating-box i,
  .product-item-mini .pim-descn .product-rating-box i {
    font-size: 14px;
    opacity: .5;
  }
.home-page-product-grid h4.price,
.product-item-mini .pim-descn h4 {
  font-size: 20px;
}

.hpc-details {
  height: 295px;
}
#hpc-tabContent {
  height: 256px;
}

.card.border-light {
  border-color: rgba(0, 0, 0, .05) !important;
}

.hpc-card .hpc-image {
  position: relative;
}
.hpc-card .hpc-sublist-mobile,
.hpc-card .hpc-sublist-mobile ul {
  display: none;
}

.hpc-card .hpc-header {
  display: none;
}

@media all and (max-width: 1200px) {
  .hpc-card .hpc-body {
    width: 100%;
    float: left;
  }
  .hpc-card .hpc-sublist-mobile {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
  }

    .hpc-card .hpc-sublist-mobile:hover {
      background: rgba(0, 0, 0, .5);
    }

      .hpc-card .hpc-sublist-mobile:hover ul {
        display: flex;
      }

      .footer-logo img {
         display: block;
         margin: auto;
      }
}

@media all and (min-width: 1200px) {
  .hpc-card .hpc-header {
    display: block;
  }
  .header-logo {
      width: 220px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .hpc-card .hpc-body {
    width: 100%;
  }

}

@media all and (max-width: 992px) {
  .hpc-card .hpc-details,
  .hpc-card .hpc-products {
    width: 100%;
  }
  .hpc-details {
    height: 256px;
  }
}

@media all and (max-width: 576px) {
  #hpc-tabContent {
    height: 512px;
  }
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 60px;
  margin-top: 30px;
}

.footer h4 {
  font-weight: 400;
  font-size: 20px;
}
  .footer .footer-below {
    border-top: 1px solid #EEE;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
  }