.slideToUnlock {
  position: relative;
  text-align: center;
  height: 38px;
  line-height: 38px;
  width: 100%;
}

.slideToUnlock.is-disabled {
    opacity: .5;
    cursor: not-allowed;
}

.progressBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.drag {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0%;
  display: inline-block;
  line-height: 38px;
  text-align: center;
}

.slideToUnlock:not(.is-disabled) .drag {
  cursor: pointer;
}

.drag.locked_handle {
  background: #69A41F;
  color: #fff;
}
  .drag.unlocked_handle {
    background: #fff;
    color: #69A41F;
    border: 1px solid #69A41F;
  }

.locked {
  background-color: rgba(105, 164, 31, .2);
}

.unlocked {
  background-color: rgba(105, 164, 31, .9);
}
.unlocked .text {
  color: #fff;
}