@model CustomerWishRequestSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Sales.CustomerWish").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CustomerWish");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Promotions.CustomerWish")
    </h1>
</div>

<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @await Html.PartialAsync("Table", new DataTablesModel
           {
               Name = "customer-wish-grid",
               UrlRead = new DataUrl("List", "CustomerWish", null),
               Length = Model.PageSize,
               LengthMenu = Model.AvailablePageSizes,
               ColumnCollection = new List<ColumnProperty>
                    {

                        new ColumnProperty(nameof(CustomerWishRequestModel.Id))
                        {
                            Title = "#"
                        },
                        new ColumnProperty(nameof(CustomerWishRequestModel.RequestTitle))
                        {
                            Title = "Title"
                        },
                        new ColumnProperty(nameof(CustomerWishRequestModel.IsActive))
                        {
                            Title = "Status",
                            Render = new RenderCustom("renderStatusBadge")
                        },
                        new ColumnProperty(nameof(CustomerWishRequestModel.Customer))
                        {
                            Title = "Customer"
                        },
                        new ColumnProperty(nameof(CustomerWishRequestModel.Category))
                        {
                            Title = "Category"
                        },
                        new ColumnProperty(nameof(CustomerWishRequestModel.ExpectedPrice))
                        {
                            Title = "Expected Price"
                        },
                        new ColumnProperty(nameof(CustomerWishRequestModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "100",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("Edit"))
                        }
                    }
           })
            </div>

            <script>
                function renderStatusBadge(data) {
                    const className = data ? 'label-success' : 'label-default';
                    const text = data ? 'Active' : 'Inactive';
                    return `<span class="label ${className}">${text}</span>`;
                }
            </script>

        </div>
    </div>
</div>