<div class="partnership-type row no-gutters">
    <div class="col-12 col-sm-6 col-lg-12 pr-sm-2 pr-lg-0">
        <div class="card cursor-pointer rounded-0 active shadow-sm commission-based h-100" data-id="1">
            <div class="card-header pl-2 pr-2">
                <h6 class="my-0 align-middle d-flex align-items-center">
                    <i class="fas fa-smile-beam fa-2x mr-2"></i>
                    Commission Based
                </h6>
            </div>
            <div class="card-body">
                <span class="bg-light-green text-white pl-2 pr-2 d-inline-block mb-1 shadow-sm">
                    <small>Small Business</small>
                </span>
                <div>
                    <span class="h3 text-light-green font-weight-bold"> Fixed 5% </span>
                    <span class="text-muted">/order</span>
                </div>
                <small class="text-muted">Or variable commission per product</small>
                <hr>
                <ul class="list-check">
                    <li>A feature</li>
                    <li>Another feature</li>
                    <li>Latest trends</li>
                    <li>Some great fearure</li>
                    <li>Fifth great feature</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-12 mt-3 mt-sm-0 mt-lg-3 pl-sm-2 pl-lg-0">
        <div class="card cursor-pointer rounded-0 shadow-sm subscription-based h-100" data-id="2">
            <div class="card-header pl-2 pr-2">
                <h6 class="my-0 align-middle d-flex align-items-center">
                    <i class="far fa-meh-rolling-eyes fa-2x mr-2"></i>
                    Subscription Based
                </h6>
            </div>
            <div class="card-body">
                <span class="bg-light-green text-white pl-2 pr-2 d-inline-block mb-1 shadow-sm">
                    <small>Large Business</small>
                </span>
                <div>
                    <span class="h3 text-light-green font-weight-bold"> ৳৯৯৯ </span>
                    <span class="text-muted">/month</span>
                </div>
                <small class="text-muted">up to 35% off on yearly plan! </small>
                <hr>
                <h6 class="font-weight-bold mb-2 text-muted">Everything in Commission Based, plus:</h6>
                <ul class="list-check">
                    <li>One time annual fee for a yearly subscription</li>
                    <li>
                        Vendor name, logo, contact information will be publicly visible
                    </li>
                    <li>Customers can directly send messages</li>
                    <li>Unlimited number of products</li>
                    <li>+ A lot of hidden secret features...</li>
                </ul>
            </div>
        </div>
    </div>
</div>