@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
            {
            <div class="alert alert-success result">
                @Model.Result
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="form-group">
                        <div class="row">
                            <label asp-for="OldPassword" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label" asp-postfix=":"></label>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <input asp-for="OldPassword" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <nop-required />
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label asp-for="NewPassword" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label" asp-postfix=":"></label>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <input asp-for="NewPassword" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <nop-required />
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label asp-for="ConfirmNewPassword" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label" asp-postfix=":"></label>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                <input asp-for="ConfirmNewPassword" class="form-control" />
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <nop-required />
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" class="button-1 btn btn-primary change-password-button" value="@T("Account.ChangePassword.Button")" />
            </div>
        </form>
    </div>
</div>