@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax

@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings

<div class="container cart-item-container">

    <div class="row">
        <div class="col-md-9 col-md-8">
            Summary
        </div>
        <div class="col-md-9 col-md-4">
            Total
        </div>
    </div>

</div>

