@model CategoryProductCollectionSearchModel
@inject IWorkContext workContent

@{
    //page title
    ViewBag.Title = T("Admin.Promotions.CategoryProductCollection").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CategoryProductCollection");

    var localeKey = workContent.WorkingLanguage.LanguageCulture;
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Promotions.CategoryProductCollection")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.SpecificationAttributeListButtons })
    </div>
</div>

<div class="content">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "CategoryProductCollection-grid",
                    UrlRead = new DataUrl("List", "CategoryProductCollection", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(CategoryProductCollectionModel.CategoryName))
                            {
                                Title = T("Admin.Promotions.CategoryProductCollection.Fields.CategoryName").Text,

                            },
                            new ColumnProperty(nameof(CategoryProductCollectionModel.PromotionType))
                            {
                                Title = T("Admin.Promotions.CategoryProductCollection.Fields.PromotionType").Text,
                                Render = new RenderCustom("renderFormattedPromoType")
                            },
                            new ColumnProperty(nameof(CategoryProductCollectionModel.ProductName))
                            {
                                Title = T("Admin.Promotions.CategoryProductCollection.Fields.ProductName").Text,
                                Render = new RenderCustom("renderProductInfo")
                            },
                            new ColumnProperty(nameof(CategoryProductCollectionModel.StartDateUtc))
                            {
                                Title = T("Admin.Promotions.CategoryProductCollection.Fields.StartDate").Text,
                                Render = new RenderCustom("renderDate")

                            },
                            new ColumnProperty(nameof(CategoryProductCollectionModel.EndDateUtc))
                            {
                                Title = T("Admin.Promotions.CategoryProductCollection.Fields.EndDate").Text,
                                Render = new RenderCustom("renderDate")

                            },
                            new ColumnProperty(nameof(CategoryProductCollectionModel.IsActive))
                            {
                                Title = T("Admin.Promotions.CategoryProductCollection.Fields.IsActive").Text,

                            },
                            new ColumnProperty(nameof(CategoryProductCollectionModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                })

                <script>
                    function renderDate(data, type, row, meta) {
                        return new Date(data).toLocaleDateString('@localeKey');
                    }

                    function renderProductInfo(data, type, row, meta) {
                        return `<h5>${data}<br>
                            <small> ${row.ProductCategoryName} </small>
                        </h5>`;
                    }

                    function renderFormattedPromoType(data, type, row, meta) {
                        return data.replace(/([A-Z])/g, ' $1').trim();
                    }
                </script>
            </div>
        </div>
    </div>
</div>