@using Nop.Services.Catalog
@inject ICategoryService _categoryService
@{
    var rootCategories = _categoryService.GetAllCategoriesByParentCategoryId(0)
        .Where(c => !c.Name.Contains("Courier") && !c.Name.Contains("Service"))
        .OrderBy(x => x.DisplayOrder)
        .Select(x =>
        {
            return new SelectListItem
            {
                Text = x.Name,
                Value = x.Id.ToString()
            };
        })
        .ToList();
}


<form id="CustomSearchForm" asp-controller="Catalog" asp-action="Search" method="post">
    <div class="smart-search bg-deep-green">
        <div class="container pt-3 pb-3">
            <div class="row">
                <div class="col-auto pt-2">
                    <h6 class="text-white">I am looking for</h6>
                </div>
                <div class="col px-1 py-1">
                    <select class="custom-select rounded-0">
                        <option selected>Offers</option>
                        <option value="1">Discounts</option>
                        <option value="2">Month End Offer</option>
                        <option value="3">Free Delivery</option>
                        <option value="4">Campaigns</option>
                        <option value="5">Promotional Offers</option>
                    </select>
                </div>
                <div class="col-auto pt-2">
                    <h6 class="text-white">in</h6>
                </div>
                <div class="col px-1 py-1">
                    <select name="cid" id="cid" class="custom-select rounded-0">
                        @foreach (var category in rootCategories)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                </div>
                <div class="col-auto px-1 py-1">
                    <button class="btn bg-light-green text-white pl-5 pr-5 rounded-0 shadow-sm">
                        <i class="fas fa-search"></i>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>