<section class="section-content padding-y bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card-banner overlay-gradient" style="min-height:230px; background-image: url('/Themes/AgroMukam/Content/images/agriculture.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title text-white">Feature, Caption or <br> Promotion</h3>
                        <p class="card-text mt-3" style="max-width: 400px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                        </p>
                        <a href="" class="btn btn-success">Learn more</a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <div class="card-banner overlay-gradient" style="min-height: 230px; background-image: url('/Themes/AgroMukam/Content/images/howdangerous.jpg'); ">
                    <div class="card-img-overlay text-white">
                        <h5 class="card-title text-white">Best products</h5>
                        <p class="card-text mt-3">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
                    </div>
                </div>
            </div> <!-- col.// -->
        </div>
    </div>
</section>

@await Html.PartialAsync("_RecommendedProducts")

<section class="section-content padding-y bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="shadow-sm card-banner">
                    <div class="p-4" style="width:75%">
                        <h5 class="card-title">Cattle</h5>
                        <p>Some quick example text to build on the card title and make up the bulk .</p>
                    </div>
                    <img src="/Themes/AgroMukam/Content/images/cattle.png" height="150" class="img-bg" loading="lazy" style="max-width: 40%;">
                </div>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <div class="shadow-sm card-banner">
                    <div class="p-4" style="width:70%">
                        <h5 class="card-title">Poultry</h5>
                        <p>Some quick example text to build on the card title and make up the bulk.</p>
                    </div>
                    <img src="/Themes/AgroMukam/Content/images/poultry.png" height="150" class="img-bg" loading="lazy" style="max-width: 40%;">
                </div>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <div class="shadow-sm card-banner">
                    <div class="p-4" style="width:75%">
                        <h5 class="card-title">Pets</h5>
                        <p>Some quick example text to build on the card title and make up the bulk.</p>

                    </div>
                    <img src="/Themes/AgroMukam/Content/images/pets.jpg" height="150" class="img-bg" loading="lazy" style="max-width: 40%;">
                </div>
            </div> <!-- col.// -->
        </div>


    </div>
</section>



<div class="courier-partners container">
    <div class="cp-wrap row">
        <ul>
            <li class="d-block">
                <h6 class="mt-5 mr-2">@T("Footer.CourierPartners") </h6>
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo1.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo2.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo3.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo4.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo5.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo6.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo7.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo8.jpg" loading="lazy" />
            </li>
            <li>
                <img src="/Themes/AgroMukam/Content/images/courier-partners/courier-logo9.jpg" loading="lazy" />
            </li>
        </ul>



    </div>
</div>