<section class="section-content padding-y bg">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <div class="card-banner">
                    <div class="card-body" style="height:250px; background-image: url('/Themes/RootTheme/Content/images/fishes.jpeg');"> </div>
                    <div class="text-bottom"><h5 class="title text-white">Aqua Supply</h5></div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <div class="card-banner" style="height: 250px; background-image: url('/Themes/RootTheme/Content/images/goat.jpg');">
                    <article class="caption bottom bg-gradient-green">
                        <h5 class="card-title text-white">Another Caption</h5>
                        <p class="mt-2">Some text or description regarding the caption</p>
                    </article>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <div class="card-banner align-items-end" style="height: 250px; background-image: url('/Themes/RootTheme/Content/images/gardening.jpg');">
                    <article class="caption m-4 w-100 bg-gradient-green">
                        <h5 class="card-title text-white">More Title</h5>
                        <p class="mt-2">Some text or description regarding the title.</p>
                    </article>
                </div>
            </div> <!-- col.// -->
        </div>


    </div>
</section>

