<section class="section-content features-grid bg">
    <div class="w-100">
        <div class="row no-gutters">
            <div class="col-3">
                <div class="card cursor-pointer border-0 rounded-0 shadow" onclick="setLocation('@Url.RouteUrl("FlashSaleDeals")')">
                    <div class="card-body pt-2 pb-2 pl-1 pr-1 pl-lg-3 pr-lg-3">
                        <div class="media">
                            <img src="/Themes/AgroMukam/Content/images/category-icons/flash-sale.png" class="mr-1" alt="..." loading="lazy">
                            <div class="media-body align-self-center">
                                <h6 class="text-white">Flash Sale Deals</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  *@
            <div class="col-3">
                <div class="card cursor-pointer border-0 rounded-0 shadow" onclick="setLocation('@Url.RouteUrl("FeaturedProducts")')">
                    <div class="card-body pt-2 pb-2 pl-1 pr-1 pl-lg-3 pr-lg-3">
                        <div class="media">
                            <img src="/Themes/AgroMukam/Content/images/category-icons/featured-products.png" class="mr-1" alt="..." loading="lazy">
                            <div class="media-body align-self-center">
                                <h6 class="text-white">Featured Products</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  *@
            <div class="col-3">
                <div class="card cursor-pointer border-0 rounded-0 shadow" onclick="setLocation('@Url.RouteUrl("ProductsWithDiscount")')">
                    <div class="card-body pt-2 pb-2 pl-1 pr-1 pl-lg-3 pr-lg-3">
                        <div class="media">
                            <img src="/Themes/AgroMukam/Content/images/category-icons/promotions.png" class="mr-1" alt="..." loading="lazy">
                            <div class="media-body align-self-center">
                                <h6 class="text-white">Discounts</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  *@
            <div class="col-3">
                <div class="card cursor-pointer border-0 rounded-0 shadow" onclick="setLocation('@Url.RouteUrl("Promotions")')">
                    <div class="card-body pt-2 pb-2 pl-1 pr-1 pl-lg-3 pr-lg-3">
                        <div class="media">
                            <img src="/Themes/AgroMukam/Content/images/category-icons/view-more.png" class="mr-1" alt="..." loading="lazy">
                            <div class="media-body align-self-center">
                                <h6 class="text-white">All Campaigns</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

