@using Nop.Web.Areas.Admin.Models.Advertisements
@model AdvertisementModel

@{
    const string hideInfoBlockAttributeName = "AdvertisementPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="affiliate-panels">
            <nop-panel asp-name="affiliate-info" asp-icon="fa fa-info" asp-title="@T("Admin.Promotions.Advertisements.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>

            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.AffiliateDetailsBlock, additionalData = Model })
        </nop-panels>
    </div>
</div>