@model Nop.Core.IPagedList<Nop.Core.Domain.Catalog.Product>

@if (Model.Count > 0)
{
    var products = Model
        .OrderBy(x => x.UpdatedOnUtc)
        .Take(4)
        .ToList();
    if (products.Count > 0)
    {
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-6 pl-1 pr-1 mb-2">
                        @await Html.PartialAsync("_ProductBox.Mini", product)
                </div>
            }
        </div>
    }
    else
    {
        <p class="font-weight-normal text-info mt-5 pt-4 text-center">No BestSeller Product Found in current Category!</p>
    }
}
else
{
    <p class="font-weight-normal text-info mt-5 pt-4 text-center">No Product Found in current Category!</p>
}