
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
<div class="header-upper d-none d-lg-flex flex-row-reverse bg-theme-dark">

    @await Component.InvokeAsync("CurrencySelector")
    @await Component.InvokeAsync("LanguageSelector")

</div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
<div class="header-middle d-none d-lg-flex pt-3 pb-3 pl-3 pr-3">

    <div class="pt-1 pl-3 pr-1 pr-lg-5 header-logo">
        @await Component.InvokeAsync("Logo")
    </div>
    <div class="flex-grow-1 pl-4 pr-4 header-search-box">
        @await Component.InvokeAsync("SearchBox")
    </div>
    <div class="pl-2">
        @await Component.InvokeAsync("HeaderLinks")
    </div>

</div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
<div class="header-lower d-flex">

    <nav class="navbar navbar-expand navbar-light bg-light p-1 d-flex flex-fill">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link nav-link-condt trigger-mobile-menu pr-3 d-block d-lg-none" href="#">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="dropdown mega-menu-dropdown ml-3 d-none d-lg-block">
                    <a class="nav-item nav-link trigger-all-categories" href="#" data-toggle="dropdown">
                        <i class="fas fa-th mr-2"></i>
                        <span class="d-none d-md-inline-block">All</span>
                        Categories
                    </a>
                    <div class="dropdown-menu border-0 rounded-0 p-0 shadow w-100" aria-labelledby="dropdownMenuLink">
                        @await Component.InvokeAsync("TopMenu")
                    </div>
                </div>

                <a class="nav-item nav-link nav-link-condt ml-lg-3" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <a class="navbar-brand navbar-brand-condt" href="#">
                @await Component.InvokeAsync("Logo")
            </a>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link pl-3 pr-3 d-none d-lg-block" href="#">Blog</a>
                <a class="nav-item nav-link pl-3 pr-3 d-none d-lg-block" href="#">Manufacturers</a>
                <a class="nav-item nav-link pl-3 pr-3 d-none d-lg-block" href="#">Contact Us</a>
                <a class="nav-item nav-link pl-3 pr-3 d-block d-lg-none" href="#">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
            </div>
        </div>
    </nav>

</div>