<div class="d-flex">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-12 pb-2 pb-mb-0 col-md-4 text-md-center">
                <div class="card border-light info-box-card rounded-0 cursor-pointer">
                    <div class="card-body pl-3 pr-3 pt-1 pb-1 p-md-3">
                        <div class="row">
                            <div class="col-2 col-md-12 d-flex align-items-center justify-content-center">
                                <i class="fas fa-code-branch d-block"></i>
                            </div>
                            <div class="col-10 col-md-12">
                                <h4 class="text-theme-dark"> New Arrival </h4>
                                <p class="">Lorem ipsum dolor sit amet, ei vix mucius nominavi, sea ut causae regione</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pb-2 pb-mb-0 col-md-4 text-md-center">
                <div class="card border-light info-box-card rounded-0 cursor-pointer">
                    <div class="card-body pl-3 pr-3 pt-1 pb-1 p-md-3">
                        <div class="row">
                            <div class="col-2 col-md-12 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tags d-block"></i>
                            </div>
                            <div class="col-10 col-md-12">
                                <h4 class="text-theme-dark"> Featured </h4>
                                <p class="">Lorem ipsum dolor sit amet, ei vix mucius nominavi, sea ut causae regione</p>
                            </div>
                        </div>               
                    </div>
                </div>
            </div>
            <div class="col-12 pb-2 pb-mb-0 col-md-4 text-md-center">
                <div class="card border-light info-box-card rounded-0 cursor-pointer">
                    <div class="card-body pl-3 pr-3 pt-1 pb-1 p-md-3">
                        <div class="row">
                            <div class="col-2 col-md-12 d-flex align-items-center justify-content-center">
                                <i class="fas fa-user-tag d-block"></i>
                            </div>
                            <div class="col-10 col-md-12">
                                <h4 class="text-theme-dark"> Best Seller </h4>
                                <p class="">Lorem ipsum dolor sit amet, ei vix mucius nominavi, sea ut causae regione</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>