@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    var products = Model.Take(6).ToList();

    <div class="product-grid home-page-product-grid container-fluid pt-3 pb-3">
        <div class="title text-center">
            <h3 class="font-weight-light">Promotions</h3>
        </div>
        <div class="item-grid">
            @foreach (var item in products)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}