@using Nop.Services.Advertisements
@using Nop.Services.Media
@inject IAdvertisementService _advertisementService
@inject IPictureService _pictureService

@{
    var currentCategoryId = this.ViewData["currentCategoryId"];
    var categoryLevel = this.ViewData["categoryLevel"];
    var categoryId = Convert.ToInt32(currentCategoryId);
    var level = Convert.ToInt32(categoryLevel);
    var adPlacementId = level == 1 ? 60 : 70;

    var advertisements = _advertisementService.GetAllAdvertisements(null, categoryId, adPlacementId, 2, null, null, 0, 6);
    var ads = advertisements.Where(x =>
    {
        return x.EndDateUtc > DateTime.Now;
    }).Take(6).ToList();
}

@if (ads.Count > 0)
{
    <div class="container-fluid">
        <div class="row">

            @foreach (var ad in ads)
            {
                var imgUrl = _pictureService.GetPictureUrl(ad.PictureId);
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 bg-white border p-2">
                    <a href="@ad.HyperLink">
                        <img src="@imgUrl" class="img-fluid d-block m-auto" style="height: 95px;">
                    </a>
                </div>
            }
        </div>
    </div>
}