@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-blogtags">
        <div class="title">
            <strong>@T("Blog.TagCloud")</strong>
        </div>
        <div class="listbox">
            <ul class="tags nav">
                @foreach (var item in Model.Tags)
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}