@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid mt-3">
        <div class="container">

            <div class="card rounded-0">
                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col pr-5">
                            <h5 class="mb-0 text-muted"> @T("Homepage.Products") </h5>
                            <span class="text-deep-green"> Just for you </span>
                        </div>
                        <div class="col-auto text-right">
                            <button type="button" class="btn btn-outline-green rounded-0">See All Products</button>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 pb-2">
                    <div class="items-grid">

                            @foreach (var item in Model)
                            {
                                <div class="slick px-1 py-1">
                                    <div class="item-box p-2 border">
                                        @await Html.PartialAsync("_ProductBox", item)
                                    </div>
                                </div>
                            }

                    </div>
                </div>
            </div>


        </div>
    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.home-page-product-grid .items-grid').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 5,
                slidesToScroll: 5,
                prevArrow: '<button type="button" class="slick-prev btn bg-light-green rounded-pill"><i class="fas fa-chevron-left"></i></button>',
                nextArrow: '<button type="button" class="slick-next btn bg-light-green rounded-pill"><i class="fas fa-chevron-right"></i></button>',
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
    </script>
}